#experience {
  margin-top: 150px;
}

.exp-edu-parent {
  background-color: transparent;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7%;
}

.exp-edu-container {
  background-color: transparent;
  width: 115%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  transition: all 0.5s ease;
  padding-left: 16px;
  cursor: pointer;
}
.exp-edu-container:hover {
  background-color: #5757571f;
}

.exp-img-container {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0rem 5rem;
  gap: 8%;
}

.image-description-container {
  /* background-color: red; */
  height: 60vh;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-direction: column;
}

.org-name-div {
  font-size: 25px;
}

.year-div {
  color: #ebebeb;
  width: 6rem;
  /* margin-right: 2rem; */
}

.role {
  margin-left: 10px;
}

.image-description-container img {
  width: 70%;
}

.title {
  width: 100%;
}

.title p {
  font-size: 70px;
  padding: 0% 2%;
  margin: 0;
}

a {
  text-decoration: underline;
}
.image-container-exp {
  width: 100%;
}

@media (max-width: 770px) {
  .title p {
    font-size: 55px;
    padding: 0% 2%;
    margin: 0;
  }
  .image-description-container {
    /* background-color: red; */
    height: 60vh;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-direction: column;
  }

  .exp-edu-parent {
    background-color: transparent;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7%;
  }

  .exp-img-container {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 5rem;
    /* gap: 8%; */
    flex-direction: column;
  }
  .role {
    margin-left: -11px;
    font-size: 16px;
  }
  .org-name-div {
    font-size: 0px;
    visibility: hidden;
    width: 15px;
  }
  .year-div {
    color: #ebebeb;
    width: 6rem;
    /* margin-right: 2rem; */
  }
}
