#landing-page {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100vh;
}

.name-description-container {
  height: 100%;
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.name {
  font-size: 100px;
  margin: 0;
}

.description {
  font-size: 20px;
  width: 90%;
}

@media (max-width: 450px) {
  .description {
    font-size: 14px;
    width: 90%;
  }
  .name {
    font-size: 29px;
    margin: 0;
  }
  .name-description-container {
    height: 100%;
    width: 54%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    /* width: 50%; */
    flex: 1;
  }

  .image-container-img {
    /* height: 2rem; */
    animation: blur-img 2.7s ease-in;
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 50%;
}

.image-container-img {
  /* height: 2rem; */
  animation: blur-img 2.7s ease-in;
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-left: 87px;
}

@keyframes blur-img {
  from {
    filter: blur(4px);
  }
  to {
    filter: blue(0px);
  }
}
