.top {
  background-color: #0000006b;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  position: fixed;
  right: 35px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cdcdcd;
}

.top.hide {
  visibility: hidden;
}

.top:hover {
  color: white;
  background-color: #3c3c3c6b;
}

.top i {
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 770px) {
  .top {
    background-color: #0000006b;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: fixed;
    right: 35px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cdcdcd;
    font-size: 10px;
  }

  .top i {
    font-size: 20px;
    cursor: pointer;
  }
}
